@import url(../main.css);
@import url(../pages/home.css);
@import url(../globals/footer.css);


.hero .hero_box {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    min-height: 1 00px;

}

.hero_box .text_and_btn {
    max-width: 42%;
    min-height: 120px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.hero_box .img {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.hero_box .img img {
    width: 80%;
    border-radius: 15px;
}