* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer {
  width: 100%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_box {
  width: 1260px;
  display: flex;
  justify-content: space-between;
}

.footer_box .box {
  width: 30%;
}

.footer_box .box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

.footer_box .box1 p {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Medium;
  font-size: 14px;
  line-height: 155%;
  letter-spacing: 8%;
  text-transform: capitalize;
  color: white;
}

.box2 p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 8%;
  /* padding: 1px 25px; */
}

.footer_box .box2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.box2 p a {
  text-decoration: none;
  color: var(--orange);
  padding: 0 7px;
}

.footer_box .box3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
}

.footer_box .box3 a {
  text-decoration: none;
  color: white;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 8%;
  padding: 1px 90px;
  transition: 0.3s;
}

.footer_box .box3 a:hover {
  color: var(--orange);
}

.footer_box .box4 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.footer_box .box4 img {
  padding: 10px;
}

.footer_box .box4 .body {
  width: 180px;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.footer_box .box4 .body .img_text{
  display: flex;
  align-items: center;
color: white;
font-family: "Roboto";
}

