@import url(globals/header.css);
@import url(globals/about_us.css);
@import url(pages/home.css);
@import url(pages/services.css);
@import url(globals/footer.css);
@import url(pages/slider.css);
@import url(pages/team.css);
@import url(pages/aboutus.css);
@import url(pages/contac.css);


