@media (max-width:1024px) {
    .map_box{
        width: 100% !important;
    }
    .map{
        flex-direction: column;
    }
}
@media (max-width:768px)  {
      .map_map{
        width: 100% !important;
        min-height: 300px !important;
        flex-direction: column-reverse;
    }
     .map_box{
        
    }
    
}
