@media (max-width:1024px) {
    .team_box{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }

}
@media (max-width:425px) {
    .team_box{
       display: grid;
       grid-template-columns: repeat(1, 1fr) !important;
    }

}
